<nav class="navbar navbar-expand-lg p-3 fixed-top" id="menu">
    <div class="container-fluid">
        <a class="navbar-brand" href="#">
            <img src="/assets/images/CEDM-Logo-1.png" alt="Logo" width="100" height="50"
                class="d-inline-block align-text-top">
        </a>

        <button class="navbar-toggler" type="button" data-bs-toggle="collapse"
            data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent"
            aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>

        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav mx-auto mb-2 mb-lg-0">
                <li class="nav-item">
                    <a class="nav-link active" aria-current="page" href="#">Home</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="#about-section">Quiénes Somos</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="#mission-section">Nuestra Misión</a>
                </li>

                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown"
                        aria-expanded="false">
                        Publicaciones
                    </a>
                    <ul class="dropdown-menu">
                        <li><a class="dropdown-item" href="https://cedmchile.org/documents/libros/">Libros</a>
                        </li>
                        <li><a class="dropdown-item"
                                href="https://cedmchile.org/documents/pastoral-popular/">Pastoral Popular</a>
                        </li>
                        <li><a class="dropdown-item" href="https://cedmchile.org/documents/nutram/">Nutram</a>
                        </li>
                        <li><a class="dropdown-item" href="https://cedmchile.org/documents/topicos/">Tópicos</a>
                        </li>
                        <li><a class="dropdown-item"
                                href="https://cedmchile.org/documents/material-educativo/">Material
                                Educativo</a>
                        </li>
                    </ul>
                </li>

            </ul>
            <!-- <form class="d-flex">
                <input class="form-control me-2" type="email" placeholder="Correo electronico"
                    aria-label="email">
                <button class="btn btn-primary btn-primary-outline-success" type="button">Suscribete</button>
            </form> -->
            <div class="d-flex ms-auto">
                <a href="https://www.instagram.com/cdiegodemedellin/" target="_blank" class="text-dark me-3">
                    <i class="fab fa-instagram fa-lg"></i>
                </a>
                <a href="https://www.facebook.com/diegodemedellin
                " target="_blank" class="text-dark me-3">
                    <i class="fab fa-facebook fa-lg"></i>
                </a>
                <a href="https://www.youtube.com/@CentroMedellin" target="_blank" class="text-dark">
                    <i class="fab fa-youtube fa-lg"></i>
                </a>
            </div>

        </div>
    </div>
</nav>
